.main-container {
  min-height: 100vh;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .router {
    grid-column: 2 / 5;
  }
}
